@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>jamboard</h1>
    <p class="lead">Track roller derby jams and penalties.</p>
    <ul>
        <li>@Html.ActionLink("Teams", "Index", "Teams")</li>
        <li>@Html.ActionLink("Skaters", "Index", "Skaters")</li>
        <li>@Html.ActionLink("Jams", "Index", "Jams")</li>
        <li>Penalties</li>
    </ul>
</div>
